<!doctype html>

<html>

<head>
    <title>Mappy</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
    <!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div>
        <div class="expedia-border"></div>
        <img class="img-responsive login-logo center-block" style="padding-left:0px; box-shadow: 2px 4px 5px lightgray;"src="/images/expedia_logo.jpg">
            <br>
            
            <label for="fname">Email*:</label>
            <input type="text"><br><br>
            <label for="lname">Password*:</label>
            <input type="text"><br><br>
            <a href="/map/Gate30/Gate48"><button>Sign In</button></a>
</form>

</body>