<!doctype html>

<html>

<head>
	<title>Mappy</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
	<!-- this is a comment in HTML -->

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body>
	<div class="container">
		<div class="search-bar">
			<img src="/images/search-bar.png" class="img-responsive">
		</div>
		<div>
			<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
				xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 4887.9 10000"
				style="enable-background:new 0 0 4887.9 2436;" xml:space="preserve">
				<g id="graph">
					<style type="text/css">
						.st0 {
							fill: #FDFEFE;
						}

						.st1 {
							fill: #4A9AC6;
						}
					</style>
					<path class="st0" d="M2043.2,1313.3c30.7-34,66.8-55.1,100.7-83.4c10,19.9,8.1,36.9,4,53.5c-1.3,5.2-7.4,8.6-14.2,8.3
	c-6.5-0.3-13-0.1-18.3-0.1c-7.7,9.8-2.1,20.3-7.3,30.1C2088,1325.4,2067.9,1324.2,2043.2,1313.3z"/>
<path class="st1" d="M10.7,1093.9h162v33h125v-33h133v39h255c0,0-2-103,98-192s187-83,187-83v-148h-28v-162h24v-170h12v-147
	c0,0-48-48-29-122s82-112,140-109s131,40,133,128s-51,111-78,132c0,0-14,460-10,535s7,137,79,243s208,178,377,184s452.5,4,452.5,4
	v42l72.5-57h21v-38h8v-77h180v-141c0,0-2-8-19-19s-41-18-41-18l-18-177l39-31l-3-28l-44-21l-1-8l-34-14l-28-258l-94-42l15-38l13,5
	c0,0,10-11,15-11s21,11,21,11s71-40,74-41s44,22,44,22l9-2l42,47l118-85l25,30l10,121l-106,80l31,281l-40,10l14,142h9l9,34l-13.1,9
	l29.1,119l-8,7l13,34l83-18l48,36l119-29l19,48h9c0,0,25,97,32,112s26,17,54,18s47,0,47,0v16c0,0,118,21,277-53s188-133,188-133
	l-50,10l-22-95l72-15v-8.8h-13l-16-63.2l178-42l-6-32l93-21l8,28l52-12l-7-29l-18-10l-31-139c0,0-83-21-89-123s108-152,187-107
	s71,137,43,169s-22,28.8-22,28.8l35,141.2l-6,10l12.7,42l73.3,16l7,8h15l7-7l72,23v26l11,9l103-26l162,45l74,80l159-146
	c0,0-37-65,23-128s149-48,188,4s30,132-18,175s-127,18-127,18l-10,14l15,15l-17,17l-16-16l-97,99l8,7l87-84l175,179l-130,124
	l216,226l-80,78c0,0,31,13,39,19s8,6,8,6l22-21l56,62l-29,29c0,0-43-59-73-72s-30-13-30-13l-14,14l-208-217l6-11l-21-24
	c0,0-11-5-17-3s-19,16-19,16s-158-181-191-201c-33-20-119-39-127-39s-4,19-4,19h-17l1,9l-41-2l-86,305c0,0,26,25,17,50s-30,35-54,28
	s-30-31-30-31l-20.5-2.5l-1-7.5l-50-10l16-49l51.5,17.5l17-19l15-0.5l1,13.5l13.5,2.5l86-299.5l-28-18.5l1-17l-12-3.5l2-16
	c0,0-126-50-170.5-50s-336,81-336,81l-9.5-28c0,0-40.5,3.5-44.5,7.5s-80,96-237,156.5s-313,28.5-330.5,32s-81,21.5-81,21.5l11,55
	l-246.5,63.5h-109.5l35.5,94.8l66.7-0.3v65.3h178.3l-7.3-13h-26v-11.3h16c0,0-3.3-24.7,11.7-42s49.7-37.7,115.3-37.7s67.7,0,67.7,0
	v111.7h-100.7l-21.7,21.7h-57l-4.7,8.3h-172.7v4.7h-327v-24.7H1378v6.3h-328v-106.7h48.7l-46-76.7c0,0-25.3,1.3-47.7-16.3
	c-22.3-17.7-28.3-38-28.3-38h-25v22h-25v42.7h-50v-41h-12.3v41h-52v-41h-13.3v40.7h-51v-41.7h-13v41.7h-50.3v-42h-14v41.3h-50v-41
	h-13.3v40.7h-50.7v-44.3h-12.3v42.7h-52.7v-42.7h-10.7v41.7h-52v-45.7h-11.7v45.7h-56.7v-46.7h-7.3v-11.7h-5.3v-28.3h-43v11.7h4.3
	v55h-134v-11.4H89.7l-97-72.3v-95H10L10.7,1093.9z M2131.7,1446.9v-40h-88.5l-8.9,31.3h-18.7v42h-50v-32.7h-11.3v32.7h-54v-36h-12.7
	v35.3h-48v-44.6h-11.3v39.3H1773v-42.7h-13.3v41.3h-50v-39.3h-12v40.7H1647v-40h-13.3v39.3h-51.3v-38.6h-12.7v39.3H1519v-39.3h-11.3
	v38.7H1453v-39.3h-12v33.3h-52.7v-34h-9.3v32.7h-56v-30h-8.7v31.3h-56v-32.7h-8v32.7H1197v-45.3h-22v-24h-20c0,0-7.3,21.3-25.3,36
	s-38,13.3-38,13.3l43.3,77.3h244.7v72.7H2083v-52h229.3l-37.3-93.3L2131.7,1446.9z M2097.2,1332.9v-30h37.8v-56l-99.3,76.7
	L2097.2,1332.9z"/>
				</g>
			</svg>


		</div>
		<div class="btn-container">
			<h3 class="optn-text">Explore SAN Airport</h3>
			<div class="shop-optn">
				<a id="shops" href="/shops">
					<h4 class="optn-text"> Shop </h4>
				</a>
			</div>
			<div class="eat-optn">
				<a id="restaurants" href="/restaurants">
					<h4 class="optn-text"> Eat </h4>
				</a>
			</div>
			<div class="rest-optn">
				<a id="rest" href="/rest">
					<h4 class="optn-text"> Rest </h4>
				</a>
			</div>
			<div class="br-btn">
			<h4 class="optn-text" style="padding-left: 2px; padding-right: 2px;">Go To Gate</h4>
			</div>
		</div>
		
	</div>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script>
		var data = {{{ data.stringify }}};
		var startNodes = "{{startNodes}}";
		var endNodes = "{{endNodes}}";
	</script>
	<script src="https://d3js.org/d3.v5.min.js"></script>
	<script src="/js/graphRender.js"></script>
</body>

</html>