*{
     font-family: 'Roboto', sans-serif;
}
.body {
     opacity: 75%;
     height: 90vw;
     background-position: center;
     background-size: cover;

}
.img-gray{
     filter: grayscale(50%) brightness(60%);
}
.options-btn{
     background-color: white;
     border: 1vw solid white;
    width: 200px;
    height: 50px;
    position: absolute;
    z-index: 1;
    padding: 3vw;
    margin: 10vw;



}

.vertical-align-img{ 
     display: flex;
     align-items: center;
     position: absolute;
     left: 0vw;
     background-image: image("images/sandiegomap.png");
}
.vertical-align {
     display: flex;
     align-items: center;
     position: absolute;
     
}

.search-bar{
     position: -webkit-sticky; /* Safari */
     position: sticky;
     top: 0;
     z-index: 1;
}

/* Shops Screen CSS */
.screen-bg{
     background-color: lightgray;
}

.shop-card {
     background-color:white;
     padding: 5px;
     margin: 10px;
     border-style: outset;
     border-width: 1px;
     border-radius: 10px;
}

.card-title{
     font-size: medium;
     margin-top: 0px;
}

.card-content{
     font-size: small;
     margin-bottom: 0px;
}
