*{
     font-family: 'Roboto', sans-serif;
}

.vertical-align{ 
     display: flex;
     align-items: center;
}

.search-bar{
     position: -webkit-sticky; /* Safari */
     position: sticky;
     top: 0;
     z-index: 1;
}

/* Shops Screen CSS */
.screen-bg{
     background-color: lightgray;
}

.shop-card {
     background-color:white;
     padding: 5px;
     margin: 10px;
     border-style: outset;
     border-width: 1px;
     border-radius: 10px;
}

.card-title{
     font-size: medium;
     margin-top: 0px;
}

.card-content{
     font-size: small;
     margin-bottom: 0px;
}
