/*Utilities*/
*{
     font-family: 'Roboto', sans-serif;
}

.search-bar{
     padding: 5px;
     position: -webkit-sticky; /* Safari */
     position: sticky;
     top: 0;
     z-index: 1;
}

.search-box{

     position: absolute;
     top: 5%;
     left: 40%;
     transform: translate(-50%,-50%);
     background: #c4c4c4;
     height: 40px;
     width: 40%;
     border-radius: 40px;
     padding: 8px;
     align-items: center;
}

.search-btn{
     color: #ffffff;
     float: right;
     width: 20px;
     height: 20px;
     border-radius: 50%;
     background: w3-red;
     display:flex;
     justify-content: center;
     align-items: center;

}

.search-txt{

     border: 4px;
     background: none;
     outline: none;
     float: left;
     padding: 10;
     color: white;
     font-size: 14px;
     transition: 0.4s;
     line-height: 0px;
}

/*Map CSS*/
.node{
     r:30px;
     fill: rgba(255,255,255,0);
}
.nodeText{
     pointer-events: none;
     fill: black;
     font-size: 40px;
}
.edge{
     stroke:rgba(1,1,1,1);
     stroke-width:2px;
     pointer-events: none;
}
.start{
     fill: rgba(255,0,0,0) 
}
.end{
     fill: rgba(0,0,255,0) 
}
.dest{
     fill: rgba(0,255,0,0) 

}

/*Login Screen*/
.login-logo{
     padding-top: 50%;
     padding-left: 45px;
}

/* Index Screen */
.map-bg {
     height: 100vh;
     width: auto;
     background-image: url("../images/sandiegomap.png");
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
}
.img-gray{
     filter: grayscale(50%) brightness(60%);
}

.back-btn{
     left: 5%;
     top: 10%; 
}

.rerouting-container{
     position: absolute;
     background-color: rgba(255,255,255, 0.5);
     border-radius: 5px;
     border-style: solid;
     padding: 5px;
     margin-top: 15px;
     box-shadow: 2px 4px 10px gray;
}
.legend-container{
     position: absolute;
     left:15px;
     top: 25vh;
     background-color: rgba(255,255,255, 0.5);
     width: 30vw;
     border-radius: 5px;
     border-style: solid;
     padding: 5px;
     box-shadow: 2px 4px 10px gray;
     text-align: left;
}

.legend-item{
     margin-bottom: 2px;
     margin-top: 0px;
}

.legend-pin{
     width:20px;
     height:20px;
}

.rerouting-text{
     margin-bottom: 0px;
}

.stop-item{
     padding-top: 5px;
     margin: 0px;
}

.btn-container{
     position: absolute;
     width:80vw;
     bottom: 15px;
     margin-left: 5vw;
     border-radius: 5px;
     border-style: solid;
     background-color: white;
     box-shadow: 2px 4px 10px gray;
}

.br-btn{
     float: right;
     margin: 3px;
     margin-bottom: 5px;
     margin-right: 5px;
     border-radius: 5px;
     border-style: solid;
     border-color: black;
}

.optn-text{
     padding-left: 16px;
     color: black;
}

.shop-optn{
     background-color:#F7E9A0;
     padding-top: 2px;
     padding-bottom: 2px;
     margin-bottom: 5px;
}

.eat-optn{
     background-color:#F76D6D;
     padding-top: 2px;
     padding-bottom: 2px;
     margin-bottom: 5px;
}

.rest-optn{
     background-color:#A8D1E7;
     padding-top: 2px;
     padding-bottom: 2px;
     margin-bottom: 5px;
}

/* Shops Screen CSS */
.screen-bg{
     background-color: #A8D1E7;
}

.screen-bg-rest{
     background-color: #A8D1E7;
}

.screen-bg-restaurants{
     background-color: #F76D6D;
}


.screen-bg-shops{
     background-color: #F7E9A0;
}

.shop-card {
     background-color:white;
     padding: 16px;
     margin: 0px;
     border-style: outset;
     border-width: 1px;
     border-radius: 0px;
}

.card-add-btn{
     color: white;
     text-transform: lowercase;
     text-decoration: none;
     background: #F76D6D;
     border-radius: 5px;
     padding: 20px;
     display: inline-block;
}

#mySidenav{
     background: #F76D6D;
     padding: 2px;
}

.card-title{
     font-size: 5vw;
     margin-top: 0px;
}

.card-content{
     font-size: 3vw;
     margin-bottom: 0px;
}

.step-item{
     margin: 5px;
     background-color: #E5E5E5;
}

.step-img{
     width: 20px;
     display: inline;
     float: right;
}