/*Utilities*/
*{
     font-family: 'Roboto', sans-serif;
}

.search-bar{
     padding: 5px;
     position: -webkit-sticky; /* Safari */
     position: sticky;
     top: 0;
     z-index: 1;
}

/*Map CSS*/
.node{
     r:10px;
     stroke:rgba(1,1,1,1);
     fill: rgba(255,255,255,1);
}
.edge{
     stroke:rgba(1,1,1,1);
     pointer-events: none;
}
.start{
     fill: rgba(255,0,0,1) 
}
.end{
     fill: rgba(0,0,255,1) 
}
.dest{
     fill: rgba(0,255,0,1) 

}

/*Login Screen*/
.login-logo{
     padding-top: 50%;
     padding-left: 45px;
}

/* Index Screen */
.map-bg {
     height: 100vh;
     width: auto;
     background-image: url("../images/sandiegomap.png");
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
}
.img-gray{
     filter: grayscale(50%) brightness(60%);
}
.btn-container{
     position: fixed;
     width:80vw;
     bottom: 5%;
     margin-left: 5%;
     margin-right: 5%;
     border-radius: 5%;
     background-color: white;
     box-shadow: 2px 4px 10px gray;
}

.br-btn{
     float: right;
     margin: 3px;
     margin-bottom: 5px;
     margin-right: 5px;
     border-radius: 5px;
     border-style: solid;
     border-color: #4D595E;
}

.optn-text{
     color: #4D595E;
     padding-left: 16px;
}

.shop-optn{
     background-color:#F7E9A0;
     padding-top: 2px;
     padding-bottom: 2px;
     margin-bottom: 5px;
}

.eat-optn{
     background-color:#F76D6D;
     padding-top: 2px;
     padding-bottom: 2px;
     margin-bottom: 5px;
}

.rest-optn{
     background-color:#A8D1E7;
     padding-top: 2px;
     padding-bottom: 2px;
     margin-bottom: 5px;
}

/* Shops Screen CSS */
.screen-bg{
     background-color: lightgray;
}

.shop-card {
     background-color:white;
     padding: 5px;
     margin: 10px;
     border-style: outset;
     border-width: 1px;
     border-radius: 10px;
}

.card-title{
     font-size: medium;
     margin-top: 0px;
}

.card-content{
     font-size: small;
     margin-bottom: 0px;
}
