/*Utilities*/
*{
     font-family: 'Roboto', sans-serif;
}
.node{
     r:10px;
}
.edge{
     stroke:rgb(7, 7, 7)
}

.search-bar{
     padding: 5px;
     position: -webkit-sticky; /* Safari */
     position: sticky;
     top: 0;
     z-index: 1;
}


/* Index Screen */
.map-bg {
     height: 100vh;
     width: auto;
     background-image: url("../images/sandiegomap.png");
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
}
.img-gray{
     filter: grayscale(50%) brightness(60%);
}
.btn-container{
     position: fixed;
     bottom: 5px;
     width: 100vw;
     margin: auto;
}

.options-btn{
     border-style: solid;
     border-color: gray;
     background-color: white;
     padding: 5px;
     margin: 10px;
     border-width: 2px;
     border-radius: 10px;

}

.btn-text{
     text-align: center;

}

/* Shops Screen CSS */
.screen-bg{
     background-color: lightgray;
}

.shop-card {
     background-color:white;
     padding: 5px;
     margin: 10px;
     border-style: outset;
     border-width: 1px;
     border-radius: 10px;
}

.card-title{
     font-size: medium;
     margin-top: 0px;
}

.card-content{
     font-size: small;
     margin-bottom: 0px;
}
